@media screen and (min-width:500px){
  .pricing-table{
    display: flex;
    height: 800px;
    justify-content: center;
    align-items: center;

}

}
@media(max-width:500px){
.col,.col-middle{
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px !important;
}
}
body{
  background-image: url('./bg-top.svg'),url('./bg-bottom.svg');
  background-position: top right,left bottom;
  background-repeat: no-repeat,no-repeat;
}
.col{
    text-align: center;
    background-color:white;
    height: 380px;
    width: 250px;
    border: 2px solid rgb(242, 209, 209);
    border-radius: 10px;
    color: rgb(1, 1, 18);
    margin-bottom: 300px;
  
}
.col-middle{
    text-align: center;
    width: 250px;
    height: 400px;
    border: 2px solid white;
    background-color: #2196F3;
    color: aliceblue;
    border-radius: 10px;
    margin-bottom: 300px;
   
    }
.number{
    font-size: 50px;
    font-weight: bolder;
}
.dollar{
    font-size: 30px;
    font-weight: bolder;
}
.button{
    display: inline-block;
  background-color: white;
  padding: 10px 30px;
  font-weight: bold;
  border: 1px solid gray;
  color: #2196F3;
  border-radius: 5px;
  margin-top: 14px;
  font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}
.button1{
  display: inline-block;
  padding: 10px 30px;
  font-weight: bold;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}
.list{
  padding: 20px;
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.table{
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




  .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;

}
h1{
  text-align: center;
  font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
center{
  font-size: larger;
  word-spacing: 25px;
  font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}